BasedOnStyle: LLVM
ColumnLimit: 8000
AlwaysBreakTemplateDeclarations: Yes
UseTab: Never
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortLambdasOnASingleLine: None
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BreakConstructorInitializers: AfterColon

SortIncludes: CaseSensitive
IncludeBlocks: Preserve

AlignEscapedNewlines: Left
